html, body {
    box-sizing: border-box;
}

.title {
    text-align: left;
    font-weight: bold;
}

.author {
    color: red;
    text-align: right;
}

.error-message {
    background-color: red;
    height: 50px;
    color: white;
}